attrs==21.4.0
black==22.1.0
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
flake8==4.0.1
Flask==2.0.3
gunicorn==20.1.0
idna==2.10
imageio==2.16.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.1.0
mccabe==0.6.1
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.22.2
packaging==21.3
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.1
PyWavelets==1.2.0
requests==2.25.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
threadpoolctl==3.1.0
tifffile==2022.2.9
tomli==2.0.1
urllib3==1.25.11
Werkzeug==2.0.3
