<h1>Wine Quality Predictor</h1>
<h3>Enter wine details to predict if the quality rating is good or bad</h3>
<form action="/result" method = "POST">
    <p>fixed acidity (0-20%) <input type = "text" name = "fixed_acidity" /></p>
    <p>volatile acidity (0.00-2.00%) <input type = "text" name = "volatile_acidity" /></p>
    <p>citric acid (0.00-2.00%) <input type = "text" name = "citric_acid" /></p>
    <p>residual sugar (0-20%) <input type = "text" name = "residual_sugar" /></p>
    <p>chlorides (0.00-1.00%) <input type = "text" name = "chlorides" /></p>
    <p>free sulfur dioxide (0-100) <input type = "text" name = "free_sulfur_dioxide" /></p>
    <p>total sulfur dioxide (0-1000) <input type = "text" name = "total_sulfur_dioxide" /></p>
    <p>density (0.00-1.50) <input type = "text" name = "density" /></p>
    <p>pH (0.0-9.0) <input type = "text" name = "pH" /></p>
    <p>sulphates (0.00-2.00) <input type = "text" name = "sulphates" /></p>
    <p>alcohol (0-20%) <input type = "text" name = "alcohol" /></p>

    <p><input type = "submit" value = "Submit" /></p>

</form>